{:kotoba.package/name "kotoba-lang/torrent"
 :kotoba.package/version "0.1.0-dev"
 :kotoba.package/kind :component
 :kotoba.package/exports [kotoba.torrent-v1]
 :kotoba.package/capabilities []
 :kotoba.package/dependencies
 [{:kotoba.package/name "kotoba-lang/bencode"
   :kotoba.package/version "0.1.0-dev"
   :kotoba.package/scope :library}
  {:kotoba.package/name "kotoba-lang/hash"
   :kotoba.package/version "0.1.0-dev"
   :kotoba.package/scope :library}]
 :kotoba.package/publication :development-unlocked}
